<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->
  <variable name="logDirectory" value="${basedir}/Content/logs/${shortdate}" />
  <targets>
    <target name="fileLogTrace"  xsi:type="File" fileName="${logDirectory}/trace.log" encoding="utf-8" />
    <target name="fileLogDebug"  xsi:type="File" fileName="${logDirectory}/debug.log" encoding="utf-8" />
    <target name="fileLogInfo"   xsi:type="File" fileName="${logDirectory}/info.log" encoding="utf-8" />
    <target name="fileLogErrors" xsi:type="File" fileName="${logDirectory}/errors.log" encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" level="Trace"   writeTo="fileLogTrace" />
    <logger name="*" level="Debug"   writeTo="fileLogDebug" />
    <logger name="*" level="Info"    writeTo="fileLogInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileLogErrors" />
  </rules>
</nlog>