@model IEnumerable<DATS.Stadium>

@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
}

<p style="margin: 0 0 10px">
    <button data-toggle="modal" data-target="#myModal" href="/StadiumSetting/Create"  class="btn btn-success" title="Создание нового стадиона">Добавить стадион</button>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(p => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(p => item.Address)
                </td>
                <td>
                    <button data-toggle="modal" data-target="#myModal" href="/StadiumSetting/Edit/@item.Id"   
                        class="btn btn-primary glyphicon glyphicon-pencil" title="Редактирование стадиона"></button>
                    <button data-toggle="modal" data-target="#myModal" href="/StadiumSetting/Delete/@item.Id" 
                        class="btn btn-primary glyphicon glyphicon-trash" title="Удаление стадиона"></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
