@model IEnumerable<DATS.Sector>

@{
    ViewBag.Title = "Справочник секторов: Список";
    Layout = "~/Views/Shared/_SettingLayout.cshtml";
}

<div class="btn-group" style="margin: 10px 0 10px">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        @((string)@ViewBag.Stadium.Name) <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @foreach (var sv in ViewBag.Stadiumes)
        {
            <li><a href="/Settings/Sectors?sid=@sv.Id">@sv.Name</a></li>
        }

    </ul>
    <button data-toggle="modal" data-target="#myModal" href="/SectorSetting/Create/@((int)@ViewBag.Stadium.Id)" class="btn btn-success" style="margin: 0 0 0 10px">Добавить сектор</button>
</div>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Возможные действия
        </th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="/Sector/Configure?sid=@item.Id" class="btn btn-sm btn-primary">Редактировать места</a>
                <a href="/Sector/Configure?sid=@item.Id" class="btn btn-sm btn-primary">Создать копию</a>
                <button data-toggle="modal" data-target="#myModal" href="/SectorSetting/Edit/@item.Id" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                <button data-toggle="modal" data-target="#myModal" href="/SectorSetting/Delete/@item.Id" class="btn btn-primary glyphicon glyphicon-trash"></button>
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
