@{
    ViewBag.Title = "Редактирование сектора";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<script src="~/Scripts/Custom/SectorConfigure.js?v=1" type="text/javascript"></script>
<script src="~/Scripts/Custom/SectorCommon.js?v=4"    type="text/javascript"></script>

<script>
 $().ready(function () {
    init();
});
</script>

  <div class="container-fluid">
    <div class="bs-docs-section">
      <h1 class="page-header" style="margin: 0">Редактирование сектора "@ViewBag.CurrentSector.Name"</h1>
      <ul class="list-inline">
        <li><h4>Стадион: @ViewBag.CurrentStadium.Name</h4></li>
      </ul>
    </div>

    <div class="row">

      <div id="canvasParent" class="col-md-10" style="height: 80vh">
       <canvas id="canvas">Ваш браузер не поддерживается!</canvas>
      </div>

      <div class="col-md-2">
        <p><button id="clearSelection" class="btn glyphicon glyphicon-refresh"></button>
           <button id="btnScalePlus"   class="btn glyphicon glyphicon-zoom-in"></button>
           <button id="btnScaleMinus"  class="btn glyphicon glyphicon-zoom-out"></button></p>

        <p><button id="setState1" class="btn btn-primary btn-lg btn-block">Назначить место</button></p>
        <p><button id="setState0" class="btn btn-primary btn-lg btn-block">Удалить место</button></p>

        <table class="table table-stripped table-hover">
              <thead>
                  <td></td><td></td>
              </thead>
              <tbody>
                  <tr>
                      <td>Всего мест:</td>
                      <td><label id="labelBlue"></label></td>
                  </tr>
                  <tr>
                      <td>Всего свободно:</td>
                      <td><label id="labelGray"></label></td>
                  </tr>
                  <tr>
                      <td>Рядов:</td>
                      <td><label id="labelRows"></label></td>
                  </tr>
              </tbody>
        </table>

        <p><button id="btnSave" class="btn btn-warning btn-lg btn-block">Сохранить</button></p>
      </div>

    </div>
  </div>

