@{
    ViewBag.Title = "Редактирование сектора";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
}

<script src="~/Scripts/Custom/SectorConfigure.js?v=1" type="text/javascript"></script>

<script>
 $().ready(function () {
    init();
});
</script>

  <div class="container-fluid">
    <div class="bs-docs-section">
      <h1 class="page-header" style="margin: 0">Редактирование сектора "@ViewBag.CurrentSector.Name"</h1>
      <ul class="list-inline">
        <li><h4>Стадион: @ViewBag.CurrentStadium.Name</h4></li>
      </ul>
    </div>

    <div class="row">

      <div id="canvasParent" class="col-md-10" style="height: 80vh">
       <canvas id="canvas">Ваш браузер не поддерживается!</canvas>
      </div>

      <div class="col-md-2">
        <p><button id="setState1" class="btn btn-primary btn-lg">Назначить место</button></p>
        <p><button id="setState0" class="btn btn-primary btn-lg">Удалить место</button></p>
        <p><button id="clearSelection" class="btn btn-primary btn-sm">Снять выделение</button></p>
        <p><button id="btnScalePlus" class="btn btn-primary btn-sm">Масштаб +</button>
        <button id="btnScaleMinus" class="btn btn-primary btn-sm">Масштаб -</button></p>
        <p><label>Всего мест:</label> <label id="labelBlue"></label></p>
        <p><label>Всего свободно:</label> <label id="labelGray"></label></p>
        <p><label>Рядов:</label> <label id="labelRows"></label></p>
        <p><button id="btnSave" class="btn btn-warning btn-lg">Сохранить</button></p>
      </div>

    </div>
  </div>

