@{
    ViewBag.Title = "Стадионы";
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
}

<div class="container bs-docs-container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="/Settings/Stadiums">Стадионы</a></li>
        <li><a href="/Settings/Sectors">Секторы</a></li>
        <li><a href="/Settings/Matches">Мероприятия</a></li>
        <li><a href="/Settings/Prices">Цены</a></li>
    </ul>

    @{Html.RenderAction("Index", "StadiumSetting");}
    
</div>
